{% extends 'base.html' %}
{% block content %}
<!--    <div id="wrapper" class="divided">-->
	<link href="../static/css/homepage.css" rel="stylesheet">
	<div id="wrapper" class="divided">
		<section class="banner style1 orient-right content-align-left fullscreen onload-content-fade-left">
			<div class="content">
				<h1>Refine your musical Tour based on your emotion</h1>
				<input type="submit" name="about" id="about" value="About" class="button special" onclick="location.href = '/about'"/>
				<input type="submit" name="login" id="login" value="Connect Now" class="button special" onclick="location.href = '/spotify-auth'"/>
			</div>
		</section>
	</div>

{% endblock %}
